#start-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.5);
    background-color: var(--green);
    border: rgba(0, 0, 0, 0.5) 8px solid;
    padding: 20px;
    min-width: 200px;
    border-radius: 20px;
    box-shadow: #000 1px 1px 10px;
    cursor: pointer;
    &:hover {
      box-shadow: #61de96 0 0 20px;
      color: rgba(255, 255, 255, 1);
    }
  }
}
